@layer fundaments {
    :root {
        --color-neutral-white: #FFFFFF;
        --color-neutral-100: color-mix(
        in srgb,
        var(--color-neutral-black),
        var(--color-neutral-white) 90%
        );
        --color-neutral-200: color-mix(
        in srgb,
        var(--color-neutral-black),
        var(--color-neutral-white) 80%
        );
        --color-neutral-300: color-mix(
        in srgb,
        var(--color-neutral-black),
        var(--color-neutral-white) 70%
        );
        --color-neutral-400: color-mix(
        in srgb,
        var(--color-neutral-black),
        var(--color-neutral-white) 60%
        );
        --color-neutral-500: color-mix(
        in srgb,
        var(--color-neutral-black),
        var(--color-neutral-white) 50%
        );
        --color-neutral-600: color-mix(
        in srgb,
        var(--color-neutral-black),
        var(--color-neutral-white) 40%
        );
        --color-neutral-700: color-mix(
        in srgb,
        var(--color-neutral-black),
        var(--color-neutral-white) 30%
        );
        --color-neutral-800: color-mix(
        in srgb,
        var(--color-neutral-black),
        var(--color-neutral-white) 20%
        );
        --color-neutral-900: color-mix(
        in srgb,
        var(--color-neutral-black),
        var(--color-neutral-white) 10%
        );
        --color-neutral-950: color-mix(
        in srgb,
        var(--color-neutral-black),
        var(--color-neutral-white) 5%
        );
        --color-neutral-black: #000000;
    }
}