@layer organisms {
  :root {
    --header-height: 75px;
  }

  .header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding-block: 1.4rem;
  }

  .header-footprint {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: var(--header-height);
    pointer-events: none;
  }

  ul.navigation__links {
    display: none;

    @media (width >= 64rem) {
      display: flex;
    }
  }

  .navigation__mobile-links,
  .header .hamburger {
    @media (width >= 64rem) {
      display: none;
    }
  }
}
