@layer organisms {
  .cocktail-list {
    --cols: 1;

    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-auto-rows: 1fr;
    gap: var(--section-gap);
    transition: opacity var(--transition-speed-slow);
  }

  @media (min-width: 40rem) {
    .cocktail-list {
      --cols: 2;
    }
  }

  @media (min-width: 64rem) {
    .cocktail-list {
      --cols: 4;
    }
  }
}
