@layer molecules {
  .clickable-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 0.25rem;
    list-style: none;
    background-color: var(--color-clickable-list-background);
    border: 1px solid var(--color-clickable-list-border);
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    z-index: 50;
    overflow: clip;
  }

  .clickable-list__item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: transparent;
    transition: background-color var(--transition-speed);
    overflow: hidden;

    &:focus {
      outline: none;
      background-color: var(--color-neutral-yellow);
      font-weight: bold;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-clickable-list-background-hover);
      }
    }
  }
}
