@import "./components/00_fundaments/misc/transition.css";
@import "./components/00_fundaments/misc/outline.css";
@import "./components/00_fundaments/misc/border.css";
@import "./components/00_fundaments/misc/visibility.css";
@import "./components/00_fundaments/misc/aspect-ratio.css";
@import "./components/00_fundaments/fonts/fonts.css";
@import "./components/00_fundaments/color/color.css";
@import "./components/00_fundaments/section/section.css";
@import "./components/00_fundaments/theme/theme-light.css";
@import "./components/00_fundaments/theme/theme-dark.css";

@import "./components/01_atoms/error/error.css";
@import "./components/01_atoms/form/form.css";
@import "./components/01_atoms/link/link.css";
@import "./components/01_atoms/text/text.css";
@import "./components/01_atoms/heading/heading.css";
@import "./components/01_atoms/logo/logo.css";
@import "./components/01_atoms/input-field/input-field.css";
@import "./components/01_atoms/hamburger/hamburger.css";
@import "./components/01_atoms/button/button.css";
@import "./components/01_atoms/skip-link/skip-link.css";
@import "./components/01_atoms/loader/loader.css";

@import "./components/02_molecules/nav-menu/nav-menu.css";
@import "./components/02_molecules/card/card.css";
@import "./components/02_molecules/visual/visual.css";
@import "./components/02_molecules/clickable-list/clickable-list.css";

@import "./components/03_organisms/header/header.css";
@import "./components/03_organisms/search-bar/search-bar.css";
@import "./components/03_organisms/cocktail-list/cocktail-list.css";
@import "./components/03_organisms/popover-menu/popover-menu.css";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  box-sizing: border-box;
  padding-top: var(--header-height);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body > :not(main) {
  flex: none;
}

main {
  flex: auto;
}
