@layer theme {
  [data-theme="light"] {
    --color-background: var(--color-neutral-white);
    --color-heading: var(--color-neutral-black);
    --color-text: var(--color-neutral-black);
    --color-accent: var(--color-neutral-500);
    --color-outline: var(--color-neutral-red);

    --color-link: var(--color-text);
    --color-link-hover: var(--color-neutral-700);

    --color-button-text: var(--color-neutral-white);
    --color-button-border: var(--color-accent);
    --color-button-background: var(--color-neutral-black);

    --color-button-text-hover: var(--color-neutral-white);
    --color-button-border-hover: var(--color-accent);
    --color-button-background-hover: var(--color-neutral-800);

    --color-button-text-disabled: var(--color-neutral-neutral-500);
    --color-button-border-disabled: var(--color-neutral-600);
    --color-button-background-disabled: var(--color-neutral-600);

    --color-card-background: var(--color-neutral-black);
    --color-card-heading: var(--color-neutral-white);
    --color-card-text: var(--color-neutral-white);

    --color-loader: var(--color-neutral-black);
  }
}
