@layer organisms {
    :root {
        --navigation-height: 75px;
    }

    nav.navigation {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: var(--navigation-height);
        padding-block: 1.4rem;
    }

    ul.navigation__links {
        display: none;

        @media (width >= 64rem) {
            display: flex;
        }
    }

    .navigation__mobile-links,
    .navigation .hamburger {
        @media (width >= 64rem) {
            display: none;
        }
    }
}